
.entradas ul{
    text-align: center;
}
.entradas ul{
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.entradas  li{
    padding: 10px;
    position: relative;
}


.formulario-contacto{
    height: 100vh;
}

.entradas input{
    padding: 2px;
    width: 500px;
    font-family: 'SF Pro Display';
    font-size: 20px;
  }

.entradas textarea{
    padding: 2px;
    width: 500px;
    font-family: 'SF Pro Display';
    font-size: 20px;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
}

.formulario button{
    font-family: 'SF Pro Display';
    font-size: 20px;
    width: 399px;
    text-align: center;
    position: relative;
    color: white;
    /* left: 35.4%; */
    background-color: #212529;
}

@media only screen and (max-width:768px) {

    .entradas input{
        width: 300px;
    }
    .entradas textarea {
        width: 300px;
    }
    .formulario button {
        text-align: center;
    }
    .formulario button {
        
        width: 300px;
    }
    
}